@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }
  body {
    background-color: #F0F0F0; /* Pantone Cloud Dancer */
    color: hsl(222.2 84% 4.9%);
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: hsl(222.2 84% 4.9%);
      color: hsl(210 40% 98%);
    }
  }
}
